<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandipbhattacharya.spaceshooter" >
    <uses-permission android:name="android.permission.BATTERY_LOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceShooter">
        <activity
            android:name=".Adminpage"
            android:exported="false" />
        <activity
            android:name=".MyUser"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".StartUp"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BackgroundSoundService" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameOver"
            android:screenOrientation="landscape" />
    </application>

</manifest>